

/* Define styles for active link */
.active {
  background-color: #ff8c00; /* Change background color */
  color: #000; /* Change text color */
  font-weight: bold; /* Add bold font weight */
  border-radius: 10px;
  padding: 5px;
}

